@inject UCASecurity.Web.Resources.LocalizationService SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Algorithms_AES_Title");
}

<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="algorithm">@SharedLocalizer.GetLocalizedHtmlString("AES_Algorithm")</label>
                    <select id="algorithm" class="form-control">
                        <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("AES_Select_Algorithm")</option>
                        <option value="CBC">@SharedLocalizer.GetLocalizedHtmlString("AES_CBC")</option>
                        <option value="ECB">@SharedLocalizer.GetLocalizedHtmlString("AES_ECB")</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="padding">@SharedLocalizer.GetLocalizedHtmlString("AES_Padding_Mode")</label>
                    <select id="padding" class="form-control">
                        <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("AES_Select_Padding_Mode")</option>
                        <option value="PKCS7">@SharedLocalizer.GetLocalizedHtmlString("AES_PKCS7")</option>
                        <option value="Zeros">@SharedLocalizer.GetLocalizedHtmlString("AES_Zeros")</option>
                        <option value="ISO10126">@SharedLocalizer.GetLocalizedHtmlString("AES_ISO10126")</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="key">@SharedLocalizer.GetLocalizedHtmlString("AES_Key")</label>
                    <input id="key" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="text">@SharedLocalizer.GetLocalizedHtmlString("AES_Text")</label>
                    <textarea id="text" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="result_encryption">@SharedLocalizer.GetLocalizedHtmlString("AES_Result")</label>
                    <textarea id="result_encryption" class="form-control" readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="cipher">@SharedLocalizer.GetLocalizedHtmlString("AES_Cipher")</label>
                    <textarea id="cipher" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="result_decryption">@SharedLocalizer.GetLocalizedHtmlString("AES_Result")</label>
                    <textarea id="result_decryption" class="form-control" readonly></textarea>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function fill(id, data) {
            let status = parseInt(data.status);
            let value = data.payload;
            let error = "@SharedLocalizer.GetLocalizedHtmlString("Error")";
            if (status == 200)
                $("#" + id).val(value);
            else
                $("#" + id).val(error);
        }

        window.onload = function () {
            $("#text").on('change keyup paste', function () {
                let algorithm = $('#algorithm').val();
                let key = $('#key').val();
                let padding = $('#padding').val();
                if (key === '' || key === undefined || algorithm === '' || algorithm === undefined || padding === '' || padding === undefined)
                    return;

                let text = $('#text').val();
                $.ajax({
                    type: "get",
                    url: '/api/aes/encrypt?key=' + encodeURIComponent(key) + '&text=' + encodeURIComponent(text) + '&algorithm=' + encodeURIComponent(algorithm) + '&padding=' + encodeURIComponent(padding),
                    success: function (data) {
                        fill('result_encryption', JSON.parse(data));
                    },
                    dataType: "HTML"
                });
            });

            $("#cipher").on('change keyup paste', function () {
                let algorithm = $('#algorithm').val();
                let padding = $('#padding').val();
                let key = $('#key').val();
                if (key === '' || key === undefined || algorithm === '' || algorithm === undefined || padding === '' || padding === undefined)
                    return;

                let cipher = $('#cipher').val();
                $.ajax({
                    type: "get",
                    url: '/api/aes/decrypt?key=' + encodeURIComponent(key) + '&cipher=' + encodeURIComponent(cipher) + '&algorithm=' + encodeURIComponent(algorithm) + '&padding=' + encodeURIComponent(padding),
                    success: function (data) {
                        fill('result_decryption', JSON.parse(data));
                    },
                    dataType: "HTML"
                });
            });
        }
    </script>
}
